{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Website{% endblock %}</title>

    <!-- Load external stylesheets here -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <!-- Load any additional head content (e.g., CSS, JS) from child templates -->
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navigation bar -->


    <!-- Main content -->
    <div class="font-base">
        {% block content %}
        <!-- Content from child templates will be injected here -->
        {% endblock %}
    </div>

    <!-- Footer -->


    <!-- Load external JavaScript files -->


    <!-- Load any additional JavaScript from child templates -->
    {% block extra_js %}{% endblock %}
</body>
</html>
